@model FileModel

@{
    ViewBag.Title = $"{Model.Name} - Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<small class="text-muted">
    @Html.DisplayFor(model => model.UploadedAt) - @Html.DisplayFor(model => model.UploadedBy)
</small>

<div class="mt-2">
    <p style="text-align: justify; max-width: 80ch; overflow: hidden; word-wrap: break-word;">
        @Model.Description
    </p>
    <a href="@Model.Path" download="@Model.OriginalName">Download</a>
</div>